.first-item {
    background-color: greenyellow;
}

.second-item {
    background-color: lightgrey;
}

.others {
    background-color: moccasin;
}

.page-footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    margin-top: 10px;
}

p {
    word-break: break-all
}